.social-section {
    right: 15px;
}

.referent__item{
    padding: 36px 40px;
    
}

.feature__card{
    strong{
        font-size: 50px;
    }
}

.category-card{
    font-size: 18px;
}

.project-feauture__card{
    min-height: 190px;
}

.project-feauture__card__number
{
    font-size: 250px;
}
.project-feauture__card__text{
    width: 90%;
}

.four-slide__slider .slider-thumb{
    margin: 0 -6px;
}                    